@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes animation {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --gradient-H1: linear-gradient(to right, #7A572F, #EEAC72, #FFEEC3);
    --gradient-link: linear-gradient(to left, #7A572F, #EEAC72, #FFEEC3);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Noto Serif Display', 'Josefin Slab';
}

/* Página Principal - Início */

.container {
    background-image: linear-gradient(to top, #00060D 0%, #021526 100%);
    height: 150px;
    display: flex;
    justify-content: space-between;
    border: solid #f2c89450;
    padding: 50px 50px;
}

.container__left,
.container__center,
.container__right {
    display: flex;
    align-items: center;
}

.container__left-link {
    padding: 10px 20px 20px;
}

.container__center-list {
    gap: 50px;
}

.container__center-list,
.container__center-li {
    display: flex;
}

.container__center-link {
    text-decoration: none;
    color: #F2C894;
    font-size: 24px;
    cursor: pointer;
    transition: 0.75s;
}

.container__right-link {
    padding: 10px;
}

.container__left-link,
.container__right-link {
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    color: #FFEEC3;
    border: solid;
    border-radius: 50px;
    transition: 0.75s;
}

.container__link--effect:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.1);
    transition: 0.75s;
}

.banner {
    height: 600px;
    background-image: url("Img/Earth-Height-652px.jpg");
}

.banner__txt {
    font-size: 3em;
    padding-top: 100px;
    text-align: center;
    background-image: var(--gradient-H1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% 200%;
    animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.banner__skills-social-midia {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: solid #f2c89450;
    height: 180px;
}

.banner__skills,
.banner__social-midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner__skills-icons {
    display: flex;
    justify-content: center;
    gap: 25px;

}

.banner__skills-icons i {
    font-size: 2em;
    border: solid #FFEEC3;
    padding: 25px;
    border-radius: 100%;
    color: #FFEEC3;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
}

.banner__txt-skills {
    display: flex;
    justify-content: center;
}

.banner__txt-skills p {
    color: #F2C894;
    font-size: 2em;
    margin-top: 25px;
}

.banner__social-midia-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.banner__social-midia-icons i {
    font-size: 2em;
    border: solid #FFEEC3;
    padding: 25px;
    border-radius: 100%;
    color: #FFEEC3;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    cursor: pointer;
}

.banner__skills-icons i:hover,
.banner__social-midia-icons i:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.banner__txt-social-midia {
    display: flex;
    justify-content: center;
}

.banner__txt-social-midia p {
    color: #F2C894;
    font-size: 2em;
    margin-top: 25px;
}

/* Página Principal - Fim */

/* Seção Informações Pessoais - Início */

.about-me {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: solid #f2c89450;
}

.about-me__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F2C894;
    gap: 25px;
    padding: 150px 25px 150px 50px;
    font-size: 28px;
    text-align: justify;
    text-indent: 4em;
}


.about-me__matrix-img {
    margin: 100px;
    border: 5px solid #FFEEC3;
    border-radius: 25px;
}

/* Seção Informações Pessoais - Fim */

/* Seção Experiência Profissional - Início */

.experience {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: solid #f2c89450;
}

.experience__professional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2C894;
    text-align: justify;
    gap: 25px;
    padding: 150px 25px 150px 50px;
    font-size: 28px;
}

.experience__militar-img {
    margin: 100px;
    border: 5px solid #FFEEC3;
    border-radius: 25px;
}

/* Seção Experiência Profissional - Fim */

/* Seção Histórico Acadêmico - Início */

.historic {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: solid #f2c89450;
}

.historic__academic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2C894;
    text-align: justify;
    gap: 25px;
    padding: 150px 25px 25px 25px;
    font-size: 28px;
}

.historic__university img {
    display: inline;
    border: 5px solid #FFEEC3;
    border-radius: 25px;
    width: 250px;
    height: 150px;
    margin: 50px;
}

/* Seção Histórico Acadêmico - Fim */

/* Seção Projetos e Depoimentos - Início */

.projects {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: solid #f2c89450;
    padding: 25px;
}

.projects__website {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.projects__website-link {
    text-decoration: none;
    color: #FFEEC3;
    text-align: center;
    font-size: 28px;
    border: solid #FFEEC3;
    border-radius: 10px;
    padding: 50px;
    cursor: pointer;
}

.projects__website-link:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.projects__logo {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 25px 150px 25px 0;
}

.projects__logo-img-link {
    transition: 0.75s;
}

.projects__logo:hover>.projects__logo-img-link {
    transform: scale(1.2);
    transition: 0.75s;
}

.projects__logo-img {
    border: solid #FFEEC3;
}

.projects__logo-img--playstation {
    width: 256px;
    height: 256px;
    background-image: var(--gradient-link);
}

.projects__assessment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 28px;
    margin: 25px;
}

.projects__assessment-txt {
    font-family: 'Cookie', 'Great Vibes', 'cursive';
    font-size: 32px;
    text-align: justify;
    color: #FFEEC3;
    font-style: italic;
    font-weight: normal;
    width: 90%;
    border: solid #FFEEC3;
    border-radius: 10px;
    padding: 25px;
    transition: 0.75s;
}

.assessment__txt span {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.assessment:hover>.assessment__txt {
    transform: scale(1.2);
    transition: 0.75s;
}

.budgets {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    padding: 100px;
    border: solid #f2c89450;
}

.budgets__container>h2 {
    font-size: 32px;
    color: #FFEEC3;
    border: 5px solid #00060D;
    background-color: #00060D;
    padding: 25px 50px 25px 50px;
    border-radius: 25px;
    transition: 0.5s;
}

.budgets__container:hover>h2 {
    transform: scale(1.2);
    transition-duration: 0.5s;
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

.footer {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: solid #f2c89450;
}

.footer__links-sm a {
    display: inline-block;
    font-size: 2em;
    border: solid #FFEEC3;
    padding: 25px;
    border-radius: 100%;
    color: #FFEEC3;
    cursor: pointer;
    text-decoration: none;
    margin: 25px 0 25px 0;
}

.footer__links-sm a:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* .footer__links-contact-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid yellow;
} */

.footer__links-contact ul li a {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: #FFEEC3;
}

.footer__contact i {
    font-size: 1em;
    border: solid #FFEEC3;
    padding: 25px;
    border-radius: 100%;
    color: #FFEEC3;
    cursor: pointer;
    margin: 5px 25px 5px 25px;
}

.footer__contact i:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.footer__contact h2:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.footer__contact h2 {
    font-size: 1.5em;
}

.footer__payment-method i {
    font-size: 2em;
    border: solid #FFEEC3;
    padding: 25px;
    border-radius: 100%;
    color: #FFEEC3;
    cursor: pointer;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.footer__payment-method i:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.footer__trademark {
    font-size: 1em;
    text-align: justify;
    color: #FFEEC3;
    margin: 10px 0 10px 0;
}


/* Seção Projetos e Depoimentos - Fim */

/* Seção Footer - Início */

.icon-up {
    font-size: 4em;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
    color: #F2C894;
    border: solid #F2C894;
    padding: 10px;
    border-radius: 25px;
}

.icon-up:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}