@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --gradient-H1: linear-gradient(to right, #7A572F, #EEAC72, #FFEEC3);
    --gradient-link: linear-gradient(to left, #7A572F, #EEAC72, #FFEEC3);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Noto Serif Display', 'Josefin Slab';
}

/* Página Principal - Início */

.container {
    max-width: 100vw;
    height: 17.5vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #00060D 0%, #021526 100%);
    border: 1px solid #f2c89450;
}

.container__left {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container__right {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container__center {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 100%;
}

.container__center-list-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__center-li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
}

.container__left-link {
    padding: 10px 20px 20px;
}

.container__center-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2C894;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 0.75s;
}

.container__right-link {
    padding: 10px;
}

.container__left-link,
.container__right-link {
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    color: #FFEEC3;
    border: solid;
    border-radius: 50px;
    transition: 0.75s;
}

.container__link--effect:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.1);
    transition: 0.75s;
}

.banner {
    width: 100%;
    height: 62.5vh;
    background-image: url("Img/Earth-Height-652px.jpg");
}

.banner__txt {
    font-size: 3em;
    padding-top: 100px;
    text-align: center;
    background-image: var(--gradient-H1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% 200%;
    animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animation {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

.banner__skills-social-midia {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: 1px solid #f2c89450;
}

.banner__skills,
.banner__social-midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner__skills-icons {
    display: flex;
    justify-content: center;
    gap: 25px;

}

.banner__skills-icons i {
    font-size: 2em;
    border: solid #FFEEC3;
    padding: 25px;
    border-radius: 100%;
    color: #FFEEC3;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
}

.banner__txt-skills {
    display: flex;
    justify-content: center;
}

.banner__txt-skills p {
    color: #F2C894;
    font-size: 2em;
    margin-top: 25px;
}

.banner__social-midia-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.banner__social-midia-icons i {
    font-size: 2em;
    border: solid #FFEEC3;
    padding: 25px;
    border-radius: 100%;
    color: #FFEEC3;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    cursor: pointer;
}

.banner__skills-icons i:hover,
.banner__social-midia-icons i:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.banner__txt-social-midia {
    display: flex;
    justify-content: center;
}

.banner__txt-social-midia p {
    color: #F2C894;
    font-size: 2em;
    margin-top: 25px;
}

/* Página Principal - Fim */

/* Seção Informações Pessoais - Início */

.about-me {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: 1px solid #f2c89450;
    border-top: 0.5px;
}

.about-me__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F2C894;
    gap: 25px;
    padding: 150px 25px 150px 50px;
    font-size: 28px;
    text-align: justify;
    text-indent: 4em;
}


.about-me__matrix-img {
    margin: 100px;
    border: 5px solid #FFEEC3;
    border-radius: 25px;
}

/* Seção Informações Pessoais - Fim */

/* Seção Experiência Profissional - Início */

.experience {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    /* background-image: url('https://images.pixexid.com/astronaut-spacesuit-clad-interstellar-dreams-mirrored-in-helmets-reflection-gypfc4uv.jpeg');
    background-image: url('https://png.pngtree.com/background/20231016/original/pngtree-starry-reflection-of-an-astronaut-in-spacesuit-helmet-embarking-on-a-picture-image_5576912.jpg'); */
    background-size: 100%;
    border: 1px solid #f2c89450;
    border-top: 0.5px;
}

.experience__professional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2C894;
    text-align: justify;
    gap: 25px;
    padding: 150px 25px 150px 50px;
    font-size: 28px;
}

.experience__militar-img {
    margin: 100px;
    border: 5px solid #FFEEC3;
    border-radius: 25px;
}

/* Seção Experiência Profissional - Fim */

/* Seção Histórico Acadêmico - Início */

.historic {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: 1px solid #f2c89450;
    border-top: 0.5px;
}

.historic__academic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2C894;
    text-align: justify;
    gap: 25px;
    padding: 150px 25px 25px 25px;
    font-size: 28px;
}

.historic__university img {
    display: inline;
    border: 5px solid #FFEEC3;
    border-radius: 25px;
    width: 250px;
    height: 150px;
    margin: 50px;
}

/* Seção Histórico Acadêmico - Fim */

/* Seção Projetos e Depoimentos - Início */

.projects {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: 1px solid #f2c89450;
    border-top: 0.5px;
    padding: 25px;
}

.projects__website {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.projects__website-link {
    text-decoration: none;
    color: #FFEEC3;
    text-align: center;
    font-size: 28px;
    border: solid #FFEEC3;
    border-radius: 10px;
    padding: 50px;
    cursor: pointer;
}

.projects__website-link:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.projects__logo {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 25px 150px 25px 0;
}

.projects__logo-img-link {
    transition: 0.75s;
}

.projects__logo:hover .projects__logo-img-link {
    transform: scale(1.2);
    transition: 0.75s;
}

.projects__logo-img {
    border: solid #FFEEC3;
}

.projects__logo-img--playstation {
    width: 256px;
    height: 256px;
    background-image: var(--gradient-link);
}

.projects__assessment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 28px;
    margin: 25px;
}

.projects__assessment-txt {
    font-family: 'Cookie', 'Great Vibes', 'cursive';
    font-size: 32px;
    text-align: justify;
    color: #FFEEC3;
    font-style: italic;
    font-weight: normal;
    width: 90%;
    border: solid #FFEEC3;
    border-radius: 10px;
    padding: 25px;
    transition: 0.75s;
}

.projects__assessment span {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.projects__assessment:hover .projects__assessment-txt {
    transform: scale(1.2);
    transition: 0.75s;
}

/* Seção Projetos e Depoimentos - Fim */

/* Seção Orçamentos - Início */

.budgets {
    height: 100vh;
    background-image: url('https://images.pixexid.com/interstellar-navigator-plotting-course-through-cosmos-against-backdrop-of-star-eayoyeah.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 10s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%); */
    /* border: solid #f2c89450; */
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}

.budgets__container {
    margin: 100px;
    display: none;
}

.budgets__container h2 {
    font-size: 32px;
    color: #FFEEC3;
    border: 5px solid #00060D;
    background-color: #00060D;
    padding: 25px 50px 25px 50px;
    border-radius: 25px;
    transition: 0.5s;
}

.budgets__container:hover h2 {
    transform: scale(1.2);
    transition-duration: 0.5s;
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

.budgets__forms {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #000; */
    /* border: 5px solid green; */
}

.budgets__forms-box {
    position: relative;
    max-width: 450px;
    height: 550px;
    background: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    /* border: 5px solid blue; */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.budgets__input-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 310px;
    margin: 20px 0 0 0;
    border-bottom: 2px solid #fff;
    /* border: 1px solid blue; */
}

.budgets__input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    /* border: 1px solid blueviolet; */
}

.budgets__input-box input:focus~label,
.budgets__input-box input:valid~label {
    top: -5px;
}

.budgets__input-box input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 1.2em;
    border: none;
    outline: none;
    color: #fff;
    padding: 0 40px 0 5px;
    /* border: 1px solid yellow; */
}

.budgets__forms-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.2em;
}

.budgets__txt-box {
    margin: 15px;
    max-width: 310px;
    /* border: 1px solid green; */
}

.budgets__txt-area {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    color: #fff;
    font-size: 1.2em;
}

.budgets__btn-box {
    width: 310px;
    margin: 15px;
}

.budgets__btn {
    width: 100%;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bolder;
}


/* Seção Orçamentos - Fim */

/* Seção Rodapé - Início */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #00060D 0%, #021526 100%);
    border: 1px solid #f2c89450;
}

.footer__links-sm a {
    display: inline-block;
    font-size: 2em;
    border: solid #FFEEC3;
    padding: 25px;
    border-radius: 100%;
    color: #FFEEC3;
    cursor: pointer;
    text-decoration: none;
    margin: 25px 0 25px 0;
}

.footer__links-sm a:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.footer__links-contact ul li a {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: #FFEEC3;
}

.footer__contact i {
    font-size: 1em;
    border: solid #FFEEC3;
    padding: 25px;
    border-radius: 100%;
    color: #FFEEC3;
    cursor: pointer;
    margin: 5px 25px 5px 25px;
}

.footer__contact i:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.footer__contact h2 {
    font-size: 1.5em;
    display: flex;
}

.footer__contact h2:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.footer__payment-method i {
    font-size: 2em;
    border: solid #FFEEC3;
    padding: 25px;
    border-radius: 100%;
    color: #FFEEC3;
    cursor: pointer;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.footer__payment-method i:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.footer__trademark {
    font-size: 1em;
    text-align: justify;
    color: #FFEEC3;
    margin: 10px 0 10px 0;
}


/* Seção Projetos e Depoimentos - Fim */

/* Seção Footer - Início */

.icon__up {
    font-size: 4em;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
    color: #F2C894;
    border: solid #F2C894;
    padding: 10px;
    border-radius: 25px;
}

.icon__up:hover {
    background-image: var(--gradient-link);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Responsividade */

@media (max-width: 576px) {
    .container {
        width: 100vw;
        height: 80vh;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        background-image: url('Img/Earth-Height-652px.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container__left,
    .container__center,
    .container__right {
        justify-content: center;
        width: 100%;
        margin: 10px auto;
        /* border: 1px solid yellow; */
    }

    .container__center-list-box {
        flex-direction: column;
        align-items: center;
        gap: 0;
        /* border: 1px solid green; */
    }

    .container__center-li {
        margin: 10px auto;
        /* border: 1px solid red; */
    }

    .container__left-link,
    .container__right-link {
        font-size: 1.5em;
    }

    .container__center-link {
        font-size: 1.2em;
    }

    .banner {
        display: none;
    }

    .banner__skills-social-midia {
        width: 100vw;
        height: 20vh;
    }

    .banner__skills {
        /* background-color: blue; */
    }

    .banner__skills-icons {
        gap: 10px;
        /* background-color: red; */
    }

    .banner__skills-icons i {
        font-size: 2em;
        padding: 0;
        border: solid #FFEEC3;
        border: none;
    }

    .banner__social-midia {
        /* background-color: yellow; */
    }

    .banner__social-midia-icons {
        gap: 10px;
        /* background-color: green; */
    }

    .banner__social-midia-icons i {
        font-size: 2em;
        padding: 0;
        border: solid #FFEEC3;
        border: none;
    }

    .banner__txt-skills,
    .banner__txt-social-midia {
        display: none;
    }

    .banner__skills-icons i:hover,
    .banner__social-midia-icons i:hover {
        border-radius: 0;
    }

    .about-me {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .about-me__container {
        gap: 10px;
        width: 100%;
        height: 65vh;
        padding: 25px;
        font-size: 16px;
        text-align: justify;
        text-indent: 2em;
    }

    .about-me__container h2 {
        text-indent: 0;
        padding: 25px 0;
    }

    .about-me__matrix-img {
        margin: 0;
        width: 70%;
        border-width: 1px;
        /* border: 1px solid green; */
    }

    .about-me__matrix-img-box-relative {
        position: relative;
        width: 100%;
        height: 35vh;
        /* border: 1px solid yellow; */
    }

    .about-me__matrix-img-box-absolute {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* border: 1px solid red; */
    }

    .experience {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .experience__professional {
        gap: 10px;
        width: 100%;
        height: 50vh;
        padding: 0 25px;
        font-size: 16px;
    }

    .experience__professional h2 {
        padding: 25px 0;
    }

    .experience__professional p {
        width: 100%;
        text-align: center;
    }

    .experience__militar-img {
        width: 90%;
        border-width: 1px;
        margin: 0;
        /* border: 1px solid green; */
    }

    .experience__militar-img-box-relative {
        position: relative;
        width: 100%;
        height: 50vh;
        /* border: 1px solid yellow; */
    }

    .experience__militar-img-box-absolute {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* border: 1px solid red; */
    }

    .historic {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .historic__academic {
        gap: 10px;
        padding: 0 25px;
        font-size: 16px;
    }

    .historic__university img {
        display: block;
        border-width: 1px;
        width: 200px;
        height: 120px;
        margin: 20px;
    }

    /* === */

    .projects {
        flex-direction: column;
        padding: 0;
    }

    .projects__website {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #f2c89450;
        border-top: 0.5px;
    }

    .projects__brand {
        width: 100%;
        margin: 25px auto;
    }

    .projects__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px auto;
    }

    .projects__logo-img--playstation {
        width: 256px;
        height: 256px;
    }

    .projects__assessment {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 25px auto;
    }

    .projects__assessment-txt {
        font-size: 32px;
        width: 90%;
    }

    .footer {
        width: 100vw;
        min-height: 100vh;
    }

    .footer__links-sm {
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 10px;
        border: 0.5px solid #FFEEC3;
        margin: 10px;
        border-radius: 10px;
    }

    .footer__links-sm a {
        border-width: 0.5px;
        font-size: 1.5em;
    }

    .footer__links-contact {
        width: 90%;
        height: 100%;
        border: 0.5px solid #FFEEC3;
        margin: 10px;
        border-radius: 10px;
    }

    .footer__links-contact ul {
        width: 100%;
        height: 100%;
    }

    .footer__links-contact ul li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__links-contact ul li a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .footer__links-contact ul li a p {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1em;
        font-weight: bolder;
        color: #FFEEC3;
        margin: 10px;
    }

    .footer__links-contact ul li a i {
        border-width: 0.5px;
    }


    .footer__payment-method i {
        font-size: 1.5em;
        border-width: 0.5px;
    }

    .footer__trademark {
        font-size: 1em;
        text-align: justify;
        margin: 25px;
    }

    .icon {
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .container {
        width: 100vw;
        height: 80vh;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        background-image: url('Img/Earth-Height-652px.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container__left,
    .container__center,
    .container__right {
        justify-content: center;
        width: 100%;
        margin: 10px auto;
        /* border: 1px solid yellow; */
    }

    .container__center-list-box {
        flex-direction: column;
        align-items: center;
        gap: 0;
        /* border: 1px solid green; */
    }

    .container__center-li {
        margin: 10px auto;
        /* border: 1px solid red; */
    }

    .container__left-link,
    .container__right-link {
        font-size: 1.5em;
    }

    .container__center-link {
        font-size: 1.2em;
    }

    .banner {
        display: none;
    }

    .banner__skills-social-midia {
        width: 100vw;
        height: 20vh;
    }

    .banner__skills {
        /* background-color: blue; */
    }

    .banner__skills-icons {
        gap: 10px;
        /* background-color: red; */
    }

    .banner__skills-icons i {
        font-size: 2em;
        padding: 0;
        border: solid #FFEEC3;
        border: none;
    }

    .banner__social-midia {
        /* background-color: yellow; */
    }

    .banner__social-midia-icons {
        gap: 10px;
        /* background-color: green; */
    }

    .banner__social-midia-icons i {
        font-size: 2em;
        padding: 0;
        border: solid #FFEEC3;
        border: none;
    }

    .banner__txt-skills,
    .banner__txt-social-midia {
        display: none;
    }

    .banner__skills-icons i:hover,
    .banner__social-midia-icons i:hover {
        border-radius: 0;
    }

    .about-me {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .about-me__container {
        gap: 10px;
        width: 100%;
        height: 65vh;
        padding: 25px;
        font-size: 16px;
        text-align: justify;
        text-indent: 2em;
    }

    .about-me__container h2 {
        text-indent: 0;
        padding: 25px 0;
    }

    .about-me__matrix-img {
        margin: 0;
        width: 70%;
        border-width: 1px;
        /* border: 1px solid green; */
    }

    .about-me__matrix-img-box-relative {
        position: relative;
        width: 100%;
        height: 35vh;
        /* border: 1px solid yellow; */
    }

    .about-me__matrix-img-box-absolute {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* border: 1px solid red; */
    }

    .experience {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .experience__professional {
        gap: 10px;
        width: 100%;
        height: 50vh;
        padding: 0 25px;
        font-size: 16px;
    }

    .experience__professional h2 {
        padding: 25px 0;
    }

    .experience__professional p {
        width: 100%;
        text-align: center;
    }

    .experience__militar-img {
        width: 90%;
        border-width: 1px;
        margin: 0;
        /* border: 1px solid green; */
    }

    .experience__militar-img-box-relative {
        position: relative;
        width: 100%;
        height: 50vh;
        /* border: 1px solid yellow; */
    }

    .experience__militar-img-box-absolute {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* border: 1px solid red; */
    }

    .historic {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .historic__academic {
        gap: 10px;
        padding: 0 25px;
        font-size: 16px;
    }

    .historic__university img {
        display: block;
        border-width: 1px;
        width: 200px;
        height: 120px;
        margin: 20px;
    }

    /* === */

    .projects {
        flex-direction: column;
        padding: 0;
    }

    .projects__website {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #f2c89450;
        border-top: 0.5px;
    }

    .projects__brand {
        width: 100%;
        margin: 25px auto;
    }

    .projects__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px auto;
    }

    .projects__logo-img--playstation {
        width: 256px;
        height: 256px;
    }

    .projects__assessment {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 25px auto;
    }

    .projects__assessment-txt {
        font-size: 32px;
        width: 90%;
    }

    .footer {
        width: 100vw;
        min-height: 100vh;
    }

    .footer__links-sm {
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 10px;
        border: 0.5px solid #FFEEC3;
        margin: 10px;
        border-radius: 10px;
    }

    .footer__links-sm a {
        border-width: 0.5px;
        font-size: 1.5em;
    }

    .footer__links-contact {
        width: 90%;
        height: 100%;
        border: 0.5px solid #FFEEC3;
        margin: 10px;
        border-radius: 10px;
    }

    .footer__links-contact ul {
        width: 100%;
        height: 100%;
    }

    .footer__links-contact ul li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__links-contact ul li a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .footer__links-contact ul li a p {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1em;
        font-weight: bolder;
        color: #FFEEC3;
        margin: 10px;
    }

    .footer__links-contact ul li a i {
        border-width: 0.5px;
    }


    .footer__payment-method i {
        font-size: 1.5em;
        border-width: 0.5px;
    }

    .footer__trademark {
        font-size: 1em;
        text-align: justify;
        margin: 25px;
    }

    .icon {
        display: none;
    }
}